* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 100px;
  color: #fff;
  background-color: #30aed7;
}

form {
  width: 100%;
  flex: 1;
  background: #30aed7;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #30aed7;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}